@import "tailwindcss";
@source inline("text-green-500 border-green-500");
@source inline("text-yellow-300 border-yellow-300");
@source inline("text-red-600 border-red-600");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #E5E7EB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
