@import "tailwindcss";
@config "../tailwind.config.js";

@source inline("text-green-500 border-green-500");
@source inline("text-yellow-300 border-yellow-300");
@source inline("text-red-600 border-red-600");
@source inline("text-violet-500 border-violet-500");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar-thumb-only {
    /* For Firefox */
    scrollbar-color: var(--color-gray-800) transparent;
    /* For WebKit browsers */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--color-gray-800);
      border-radius: 100vh;
      border: 3px solid transparent;
    }
  }
}


@layer utilities {
  @keyframes sheen-horizontal {
    from { background-position: 200% 0; }
    to   { background-position: -100% 0; }
  }

  .shine-bg-play{
    @apply max-w-md overflow-hidden shadow-2xl relative rounded-md;

    background: linear-gradient(
            85deg,
            transparent 50%,
            rgba(126, 118, 118, 0.8) 60%,
            transparent 70%,
            transparent 100%
    );
    background-size: 250% 250%, 100% 100%;
    background-position: -100% 0, 0 0;
    background-repeat: no-repeat;

    animation: sheen-horizontal 400ms linear forwards;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #E5E7EB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@plugin 'tailwind-scrollbar';