@import "tailwindcss";
@config "../tailwind.config.js";

@source inline("text-green-500 border-green-500");
@source inline("text-yellow-300 border-yellow-300");
@source inline("text-red-600 border-red-600");
@source inline("text-violet-500 border-violet-500");
@source inline("text-amber-100 border-amber-100");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar-thumb-only {
    /* For Firefox */
    scrollbar-color: var(--color-gray-800) transparent;
    /* For WebKit browsers */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--color-gray-800);
      border-radius: 100vh;
      border: 3px solid transparent;
    }
  }
}


@layer utilities {
  @keyframes sheen-horizontal {
    from { background-position: 200% 0; }
    to   { background-position: -100% 0; }
  }

  .shine-bg-play{
    @apply max-w-md overflow-hidden shadow-2xl relative rounded-md;

    background: linear-gradient(
            85deg,
            transparent 50%,
            rgba(126, 118, 118, 0.8) 60%,
            transparent 70%,
            transparent 100%
    );
    background-size: 250% 250%, 100% 100%;
    background-position: -100% 0, 0 0;
    background-repeat: no-repeat;

    animation: sheen-horizontal 400ms linear forwards;
  }

  @keyframes blick {
    0%   { transform: scale(0.7); opacity: 0; }
    40%  { transform: scale(0.75); opacity: 0.4; }
    70%  { transform: scale(0.80); opacity: 0.3; }
    100% { transform: scale(0.80); opacity: 0.2; }
  }

  .bg-square-blick {
    position: relative;
  }

  .bg-square-blick::after {
    z-index: -1; /* keep it behind content */
    content: '';
    position: absolute;
    inset: 0;
    background: #4f67dc;
    transform: scale(0.8);
    opacity: 0;
    border-radius: 50%; /* optional polish */
  }

  .bg-square-blick:hover::after {
    animation: blick 400ms ease-out forwards;
  }

}

.date-picker-anchor{
  position: relative;
  anchor-name: --dp-anchor;
}

.dp-grid-position{
  position: absolute;
  position-anchor: --dp-anchor;
  top: anchor(bottom);
  left: anchor(center);
  transform: translate(-50%, 0);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #E5E7EB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@plugin 'tailwind-scrollbar';